<!DOCTYPE html>
{% extends "base.html" %}
{% block pageheading %} Sign Up {% endblock %}
{% block main %}
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Tsunami Info</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <div class="center-css">
        <header class="width-less">
            <h1>What to do when a tsunami occurs?</h1>
            <H2>Immediate Actions During A Tsunami</H2>
            <p>When a tsunami warning is issued, take immediate action to protect yourself and your loved ones. Here's what you should do:</p>
            <p>Natural Warning Signs: If you experience a long or strong earthquake or notice the sea behaving unusually (such as rapid changes in water level), consider it a potential tsunami threat.</p>
            <p>Official Warnings: Pay attention to official warnings issued by the Rescue Coordination Centre New Zealand (RCCNZ) via Maritime Radio. These warnings provide critical information.</p>
            <p>Evacuation: Always prioritize safety. Evacuate to higher ground or as far inland as possible. Don't wait for an official warning—walk or bike if you can, as roads may become blocked quickly</p>
            <h2>After A Tsunami.</h2>
            <p>Returning Home: Only return home when authorities declare it safe. Listen to the radio or follow your local Civil Defence Emergency Management Group online for instructions.</p>
            <p>Expect More Shaking: If there was an earthquake before the tsunami, be prepared for additional shaking. Earthquake aftershocks could generate another tsunami.</p>
            <p>Stay Informed: Stay away from at-risk areas until the official all-clear is given</p>
            <h2>Remember that timely action during and precautions before can save lives during a tsunami.</h2>

        </header>
</body>
</html>
{% endblock %}
